@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Grandiflora+One&family=Nanum+Gothic+Coding:wght@400;700&display=swap");

* {
  font-family: "Nanum Gothic Coding", monospace;
}
form input,
form textarea {
  color: #ebebedff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
